
#page-main-inner,
#page-aside-alpha-inner,
#page-aside-beta-inner,
#page-branding ul.links-primary
{
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

#page-body,
#page-footer
{
  margin-bottom: 10px;
}

/**
 * Layout classes.
 */
.image-right img
{
  float: right;
  margin-left: 10px;
}
.image-left img
{
  float: left;
  margin-right: 10px;
}

/**
 * Image credits.
 */
.image-credit,
.image-caption
{
  font-size: 10px;
  line-height: 13px;
  margin: 0;
  color: #666;
}
.image-credit
{
  float: right;
}
.image-caption
{
  float: left;
}

/**
 * Article lead and kicker.
 */
.field-field-ns-article-lead,
.field-field-ns-article-kicker
{
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}
.field-field-ns-article-kicker,
.promo .promo-kicker
{
  float: left;
  text-transform: uppercase;
  margin-right: 5px;
}
.field-field-ns-article-kicker .field-item:after,
.promo .promo-kicker:after
{
  content: " - ";
}
.promo .promo-kicker a
{
  text-decoration: none;
}

/**
 * List links.
 */
ul.list-links
{
  margin: 10px 0;
}
ul.list-links li
{
  display: block;
  padding: 0;
}

/**
 * Article Byline.
 */
.pane-ns-article-byline .contributor
{
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}
.pane-ns-article-byline .contributor a:link,
.pane-ns-article-byline .contributor a:visited,
.pane-ns-article-byline .contributor a:hover,
.pane-ns-article-byline .contributor a:focus,
.pane-ns-article-byline .contributor a:active
{
  text-decoration: none;
}

.pane-ns-article-byline .contributor-photo
{
  float: right;
  margin-left: 10px;
}
.pane-ns-article-byline .contributor-photo img
{
  display: block;
}
.pane-ns-article-byline .contributor-name,
.pane-ns-article-byline .contributor-email
{
  font-size: 11px;
  line-height: 15px;
}
.pane-ns-article-byline .contributor-name
{
  font-weight: bold;
}
.pane-ns-article-byline .contributor-email a:link,
.pane-ns-article-byline .contributor-email a:visited
{
  color: #666;
}
.pane-ns-article-byline .contributor-email a:hover,
.pane-ns-article-byline .contributor-email a:focus,
.pane-ns-article-byline .contributor-email a:active
{
  color: #000;
}

/**
 * Disqus.
 */
#disqus_thread
{
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
}

/**
 * Aside Alpha.
 */
#page-aside-alpha
{
  font-size: 12px;
  line-height: 19px;
}
#page-aside-alpha h2.pane-title
{
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
}
#page-aside-alpha ul,
#page-aside-alpha ol
{
  margin-left: 20px;
}
#page-aside-alpha ul.list-links
{
  margin: 0 0 10px 0;
}
#page-aside-alpha ul.list-links li a
{
  display: block;
  margin: 0 -35px 0 -10px;
  padding: 3px 35px 3px 10px;
}
#page-aside-alpha ul.list-links li a:hover,
#page-aside-alpha ul.list-links li a:focus,
#page-aside-alpha ul.list-links li a:active
{
  color: #fff;
  font-weight: bold;
  background: #333 url(../img/plus-16.png) 213px 50% no-repeat;

  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0px;
}

/**
 * Promos.
 */
.promo-group
{
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}
.promo-group .text-small
{
  font-size: 12px;
  line-height: 19px;
}
h2.promo-title
{
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 3px;
}
#page-aside-alpha h2.promo-title
{
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 2px;
}

/**
 * Comments.
 */
a.comments,
a.comments:link,
a.comments:visited
{
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 9px;
  line-height: 13px;
  text-transform: uppercase;
  text-decoration: none;
}
a.comments:hover,
a.comments:focus,
a.comments:active
{
  color: #000;
  border-left-color: #ccc;
}

/**
 * Footer.
 */
#page-footer ul.links li,
#page-footer .links li
{
  padding: 0;
  margin: 0;
}
#page-footer .links li a
{
  float: left;
  display: block;
  padding: 0 5px;
  border-right: 1px solid #ccc;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 13px;
}
#page-footer .links li.first a
{
  padding-left: 0;
}
#page-footer .links li.last a
{
  border-right: none;
}
#page-footer .links li a,
#page-footer .links li a:visited
{
  text-decoration: none;
  color: #000;
}
#page-footer .links li a:hover
{
  text-decoration: underline;
}

/**
 * Page branding.
 */
#page-branding,
#page-branding a:link,
#page-branding a:visited,
#page-branding a:hover,
#page-branding a:focus,
#page-branding a:active
{
  color: #000;
}
#page-branding-inner
{
  padding: 10px 0;
}
#page-branding .current-date
{
  display: block;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 10px;
}

/**
 * Brand.
 */
a.site-logo
{
  padding: 10px 10px 10px 0;
}
a.site-logo,
a.site-logo img
{
  display: none;
}
a.site-name
{
  display: none;
}

/**
 * Primary links.
 */
#page-branding ul.links-primary
{
  margin: 0;
}
#page-branding ul.links-primary li,
#page-branding ul.links-primary li a
{
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}
#page-branding ul.links-primary li a
{
  font-weight: bold;
  padding: 5px 10px;
  text-decoration: none;
  border-right: 1px solid #B2B2B2;
}
#page-branding ul.links-primary li a:link,
#page-branding ul.links-primary li a:visited
{
  background-color: transparent;
  color: #000;
}
#page-branding ul.links-primary li a:hover,
#page-branding ul.links-primary li a:focus,
#page-branding ul.links-primary li a:active,
#page-branding ul.links-primary li.active a:link,
#page-branding ul.links-primary li.active a:visited,
#page-branding ul.links-primary li.active a:hover,
#page-branding ul.links-primary li.active a:focus,
#page-branding ul.links-primary li.active a:active
{
  background-color: #000;
  color: #fff;
}
#page-branding ul.links-primary li.first a
{
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px; 
}
#page-branding ul.links-primary li.last a
{
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-right: none;
}

/**
 * Messages.
 */
.js .pane-page-messages
{
  position: fixed;
  right: 20px;
  top: 20px;
  width: 350px;
  padding: 20px;
  background-color: #000;
  color: #fff;
  z-index: 1000;
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.js .pane-page-messages span.icon
{
  display: block;
  width: 9px;
  height: 9px;
  background: url(../img/icon-close.png) 0 0 no-repeat;
  cursor: pointer;
  position: absolute;
  z-index: 1001;
  right: 7px;
  top: 7px;
}

/**
 * Slideshow.
 */
.views-slideshow-controls-bottom
{
  margin: 5px 0;
}
.views_slideshow_singleframe_pager div
{
  float: left;
  margin: 0;
  padding: 0;
}
.views_slideshow_pagerNumbered .pager-item a
{
  background-color: #666;
  color: #fff;
  display: block;
  float: left;
  padding: 0 6px;
  font-size: 9px;
  line-height: 17px;
  text-decoration: none;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 5px;
}
.views_slideshow_pagerNumbered .activeSlide a
{
  background-color: #000;
}
.views_slideshow_next
{
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url(../img/next.png) 0 0 no-repeat;
  text-indent: -9000em;
}
.views_slideshow_previous
{
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(../img/previous.png) 0 0 no-repeat;
  text-indent: -9000em;
}
.views_slideshow_play,
.views_slideshow_pause
{
  display: none; /* Not used. */
}

/**
 * Article box.
 */
.article-box
{
  float: right;
}
.article-box .attachment-fact
{
  margin-left: 10px;
  margin-bottom: 10px;
}
.article-box h2.attachment-title
{
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #DDDDDD;
}
.article-box .attachment-content
{
  font-size: 12px;
  line-height: 19px;
}

/**
 * Profile.
 */
div.profile h3
{
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 2px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #DDDDDD;
}
div.profile dl
{
  font-size: 12px;
  line-height: 19px;
}

/**
 * Poll.
 */
.node-poll,
div.panel-pane div.node-poll
{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
.node-poll h2.node-title
{
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
div.poll
{
  font-size: 12px;
  line-height: 17px;
}
.poll .total
{
  font-size: 10px;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.poll .vote-form
{
  text-align: left;
}
.poll .vote-form .choices
{
  display: block;
  margin: 0;
}
.poll .form-radios
{
  margin: 10px 0;
}
.poll .bar .foreground
{
  background-color: #666;
}

/**
 * Ads.
 */
.pane-ad
{
  margin-bottom: 10px;
}
.pane-ad a,
.pane-ad img
{
  display: block;
}
.ad-image-counter
{
  display: none;
}
